@model CertificateManagement.Dtos.CertificateResponseModel

@if (ViewData != null)
{
    <h4>@TempData["Successful"]</h4>
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVMS</title>
</head>

<body>
    <div class="row">
        <div class="col-sm-11">
            <table class="table table-hover able-striped table-borderless ">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(x => x.Data.FirstName)</th>
                        <td>@Html.DisplayFor(x => x.Data.FirstName)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(x => x.Data.LastName)</th>
                        <td>@Html.DisplayFor(x => x.Data.LastName)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(x => x.Data.CertificatePreference)</th>
                        <td>@Html.DisplayFor(x => x.Data.CertificatePreference)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(x => x.Data.CertificateCode)</th>
                        <td>@Html.DisplayFor(x => x.Data.CertificateCode)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(x => x.Data.Comment)</th>
                        <td>@Html.DisplayFor(x => x.Data.Comment)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(x => x.Data.CertificateCode)</th>
                        <td>@Html.DisplayFor(x => x.Data.CertificateCode)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(x => x.Data.QRCodeText)</th>
                        <td>@Html.DisplayFor(x => x.Data.QRCodeText)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(x => x.Data.Signature)</th>
                        <td>@Html.DisplayFor(x => x.Data.Signature)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>